<!DOCTYPE html>
<html lang="en" class="antialiased leading-tight text-gray-900">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home Server", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="container min-h-screen px-4 mx-auto bg-gray-100 max-w-screen-xl">
    <header>
      <nav x-data="{ navIsOpen: true }", class="flex flex-wrap items-center justify-between p-2 bg-gray-300">
        <div class="flex items-center ml-0 mr-6">
          <%= live_redirect "Home Server", to: Routes.page_path(@conn, :index), class: "nav_menu_item" %>
        </div>
        <div class="block lg:hidden">
          <button @click="navIsOpen = !navIsOpen" class="flex items-center px-3 py-2 text-gray-800 border border-gray-400 rounded hover:text-white hover:border-white">
            <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div x-show="navIsOpen" class="flex-grow block w-full lg:flex lg:items-center lg:w-auto">
          <div class="lg:flex-grow">
          </div>
          <div>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "nav_menu_item" %>
            <% end %>
            <%= if @current_user do %>
              <%= link @current_user.email, to: Routes.user_settings_path(@conn, :edit), class: "nav_menu_item"  %>
              <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class:  "nav_menu_item" %>
            <% else %>
              <%= link "Register", to: Routes.user_registration_path(@conn, :new), class: "nav_menu_item"  %>
              <%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "nav_menu_item"  %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <%= @inner_content %>
  </body>
</html>
